#lgform {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  border: 1px solid rgba(255, 255, 255, 0.3); 
  color: white;
  margin: 0 auto;
  padding: 30px 20px;
  border-radius: 0 0 3px 3px;
  box-sizing: border-box;
}

body {
  font-family:'Open Sans Condensed', sans-serif;
  background-image: url("/asset/bg2.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover; 
  background-repeat: no-repeat;
  font-family: 'Open Sans Condensed', sans-serif;
  width: 100%;
  height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.navbar-glass {
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
  border: 1px solid rgba(255, 255, 255, 0.3); 
}

.navbar-glass .nav-link {
  color: white !important;
}

.navbar-glass .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1); 
  border-radius: 5px;
}

#myVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.content h1 {
  color: white;
  font-size: 4em;
}
